#descricao{
    color: white;
    margin-top: 35vh;
    width: 35vw;
    margin-left: 100px;
}

#descricao>h1{
    font-size: 60px;
    margin-bottom: 25px;
}

#descricao>p{
    font-size: 20px;
    text-align: justify;
}