#formulario{
    margin: 70px;  
    margin-top: 18vh; 
}

header>h2{
    background-color: rgb(98, 63, 194);
    color: white;
    padding: 30px;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: rgba(80, 77, 77, 0.5) 0px 10px 2px;
    font-weight: 400;
    margin-bottom: 50px;
}

strong{
    font-weight: 900;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(80, 77, 77, 0.5) 0px 10px 2px;

}

form>input{
    margin-bottom: 15px;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
}

#enviar{
    background-color: rgb(72, 219, 109);
    color: white;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}


footer{
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
    color: rgb(170, 166, 166);
    font-weight: 300;
}

footer>span>strong{
    color: brown;
}

#msg, #msg2, #msg3, #msg4{
    color: rgba(255, 0, 43, 0.6);
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: -10px;
    text-align: right;
    font-size: 14px;
    
}

#exclamacao, #exclamacao2, #exclamacao3, #exclamacao4{
    margin-left: 410px;
    margin-top: -9vh;
    margin-bottom: 60px;
}

@media(max-width: 1150px){
    
    body{
        background-image: url('C:/Users/diego/Documents/GitHub/formulario-de-cadastro/imagens/bg-intro-mobile.png');
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 110vh;
    }

    header>h2{
        background-color: rgb(98, 63, 194);
        color: white;
        padding: 30px;
        padding-left: 80px;
        padding-right: 80px;
        text-align: center;
    }

    #descricao{
        text-align: center;
        margin: auto;
        width: 500px;
    }

    #descricao>h1{
        font-size: 40px;
        margin-top: 40px;
    }

    #descricao>p{
        font-size: 16px;
        width: 500px;
        margin: auto;
        text-align: center;
    }

    #formulario{
        width: 500px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    #exclamacao, #exclamacao2, #exclamacao3, #exclamacao4{
        margin-left: 400px;
        margin-bottom: 60px;
    }
}

@media(max-width: 440px){
    
    body{
        background-image: url('../imagens/bg-intro-mobile.png')
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 930px;
    }

    header>h2{
        background-color: rgb(98, 63, 194);
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        width: 360px;
        font-size: 13px;
    }

    #descricao{
        text-align: center;
        margin: auto;
        width: 380px;
    }

    #descricao>h1{
        font-size: 40px;
        margin-top: 40px;
    }

    #descricao>p{
        font-size: 12px;
        width: 380px;
        margin: auto;
        text-align: center;
    }

    #formulario{
        width: 380px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    #exclamacao, #exclamacao2, #exclamacao3{
        margin-left: 280px;
        margin-bottom: 45px;
        margin-top: -85px;
    }

    #exclamacao4{
        margin-left: 280px;
        margin-bottom: 60px;
        margin-top: -100px;
    }

    footer{
        font-size: 9px;
        text-align: center;
        margin-top: 15px;
        color: rgb(170, 166, 166);
        font-weight: 300;
    }
}