*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url('../imagens/bg-intro-desktop.png');
    background-color: rgb(233, 95, 118);
}